name: Docker-CI-Pipeline
on: push
jobs:
  dockerci-job:
    runs-on: ubuntu-24.04
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6
      
      - name: Build image
        run: sudo docker build -t ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:v1 .

      - name: Verify Image
        run: sudo docker images
        
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
          
      - name: Push Image to DockerHub
        run: sudo docker push ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:v1
