name: Docker-CI-Pipeline
# on: push
on:
  push:
    branches:
      - main
    paths-ignore:
#      - '.github/**'
      - 'sample/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE'

jobs:
  dockerci-job:
    runs-on: ubuntu-24.04
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6
  
      - name: Set up Docker tags
        id: meta
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "timestamp=$(date +%Y%m%d-%H%M%S)" >> $GITHUB_OUTPUT
  
      - name: Build image
        run: |
          docker build -t ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:${{ steps.meta.outputs.sha_short }} \
                       -t ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:latest .

      - name: Verify Image
        run: docker images

      - name: Run Container
        run: docker run --name python-app -itd -p 80:8080 ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:latest

      - name: View Container
        run: docker ps

      - name: Wait 20 secs
        run: sleep 20

      - name: Verify App
        run: curl -ivk http://localhost

      - name: Remove Test Container
        run: |
          docker stop python-app
          docker rm -f python-app
          
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
  
      - name: Push Image to DockerHub
        run: |
          docker push ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:${{ steps.meta.outputs.sha_short }}
          docker push ${{ vars.DOCKER_USERNAME }}/helloworld-demo-python:latest

  k8scd-job:
    needs: dockerci-job
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6

      - name: start minikube
        uses: medyagh/setup-minikube@latest

      - name: test-kube
        run: kubectl get pods -A

      - name: apply-yaml
        run: |
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/py-np-service.yaml

      - name: Wait
        run: |
          kubectl config set-context --current --namespace=pythonapp-ns
          kubectl wait --for=condition=ready pod -l app=pythonapp
 #        run: sleep 30
        
      - name: get status
        run: |
          kubectl get ns
          kubectl get svc -n pythonapp-ns
          kubectl get pods -n pythonapp-ns -o wide 
          kubectl get pods --show-labels
      
      - name: test the app
        run: | 
          minikube service list
          minikube service py-np-service --url
          echo -n "------------------opening the service------------------"
          curl $(minikube service py-np-service --url)/version

      
